body {
  background-image: url("../hello.png");
}

.btn-background {
  background-color: #F6F6F6;
  border-width: 2px;
  border-color: #2B2B2B;
  border-radius: 0px;
  color: black;
}

.btn-background:hover {
  color: white;
  background-color: #2B2B2B;
}

.buttons {
  position: fixed;
  top: 20px;
  right: 50px;
}
