body {
    padding-top: 50px;
    position: relative;
}

pre {
    tab-size: 8;
}

@media screen and (max-width: 768px) {
    .side-collapse-container{
        width:100%;
        position:relative;
        left:0;
        transition:left .4s;
    }
    .side-collapse-container.out{
        left:200px;
    }
    .side-collapse {
        top:50px;
        bottom:0;
        left:0;
        width:200px;
        position:fixed;
        overflow:hidden;
        transition:width .4s;
    }
    .side-collapse.in {
        width:0;
    }
    body.intro-heading {
      background: url("https://i.ytimg.com/vi/HrJDEEuoe2Q/maxresdefault.jpg") no-repeat 25% 50% fixed;
    }
}

p {
  font-size: 16px;
}

.heading {
  padding-top: 125px;
  font-family: arial, helvetica, sans-serif;
}

.intro-heading {
  background: url("https://i.ytimg.com/vi/HrJDEEuoe2Q/maxresdefault.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 855px;
}

.about-space {
  position: absolute;
  border-style: solid;
  border-width: 5px;
  border-color: #F6F6F6;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  left: 0;
  right: 0;
  z-index: 1;
  font-size: 18px;
}

.about-list {
  text-align: left;
  padding-left: 100px;
  padding-right: 50px;
}

.about-header {
  background-color: #2B2B2B;
  background-size: auto, cover;
  position: absolute;
  margin-bottom: -85px;
  padding-top: 40px;
  z-index: 2;
  width: 350px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.profile-space {
  padding-top: 70px;
  padding-bottom: 70px;
}

.about-content {
  position: relative;
  background-color: #2B2B2B;
  color: white;
  background-size: auto, cover;
  height: 855px;
}

.portfolio {
  padding-top: 50px;
  background: url("../hello.png") repeat fixed;
  color: white;
  background-size: auto, cover;
}

.portfolio-item {
  height: 150px;
  width: 150px;
  display: block;
  margin: auto;
}

.portfolio-space {
  margin-top: 50px;
}

.social-btn {
  height: 65px;
  width: 65px;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 767px) {
  .social-btn {
    height: 45px;
    width: 45px;
  }

  .about-header {
    width: 200px;
  }

  .project-header {
    margin-left: 20%;
  }

  p {
    font-size: 12px;
  }

  .about-space {
    padding-left: 4px;
    padding-right: 4px;
  }

  a.progress-arrow {
    top: 460px;
  }
}

.contact-space {
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact-content {
  background: url("../hello.png") repeat fixed;
  color: white;
  background-size: auto, cover;
}

.carousel-item {
  height: 300px;
  width: 95%;
  margin: 0 auto;
  left: 50%;
  right: 50%;
  border-color: white;
  border-style: solid;
  border-width: 4px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.carousel-img {
  height: 100px;
  width: 200px;
}

.carousel-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}

.project-header {
  margin-top: -25px;
  background: url("../hello.png") repeat fixed;
  width: 250px;
  margin-left: 26%;
}

.progress-arrow {
  position: absolute;
  top: 70%;
  left: 50%;
  margin-left: -28px;
  background: rgba(255, 255, 255, .7) no-repeat 50% 50%;
  background-image: url("../../../chevron-down.png");
  background-size: 30px 20px;
  width: 56px;
  height: 44px;
  border-radius: 32px;
  text-indent: -999em;
  opacity: .6;
  transition: opacity .4s;
}

.progress-arrow:hover {
  opacity: .2;
}
