.search {
  padding-top: 80px;
  padding-bottom: 80px;
}

.current {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  border-style: solid;
}

.clothes {
  margin: 0 auto;
  padding-top: 50px;
  height: 200px;
  width: 400px;
  border-style: solid;
}

.wi-fw {
  width: 55px;
}
