body {
  background: url('b.jpg');
  background-size: cover;
}
.text {
  color: black;
}
.box {
  margin: auto;
  height: 275px;
  width: 275px;
  border-style: solid;
  border-radius: 3px;
  border-color: black;
}
.playlists {
  padding-top: 250px;
}
img {
  margin: auto;
  height: 200px;
}
